AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

EA_FASTAPI_S3_URL=s3://fcx-downloader/
EA_FASTAPI_S3_BUCKET=fcx-downloader
EA_FASTAPI_S3_OBJECT_URL=https://fcx-downloader.s3.amazonaws.com/
EA_FASTAPI_CLOUDFRONT_URL=https://d1ntjpytjzo3fx.cloudfront.net
EA_FASTAPI_FILE_DOWNLOAD_PATH=

MACHINE=urs.earthdata.nasa.gov
EARTHDATA_USERNAME=
EARTHDATA_PASSWORD=